body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f3f6fb;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #1e3a8a;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
}

.quiz-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

#question {
  margin-bottom: 20px;
}

.option {
  background: #eef2ff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #dbeafe;
}

.correct {
  background: #22c55e !important;
  color: white;
}

.wrong {
  background: #ef4444 !important;
  color: white;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

