* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #f5f7fb;

  font-family: Arial, sans-serif;

  padding: 20px;
}

#app {
  max-width: 1400px;
  margin: auto;
}

.top-search {
  margin-bottom: 30px;
}

.top-search input {

  width: 100%;

  padding: 18px 20px;

  border-radius: 20px;

  border: 1px solid #dbe2ea;

  font-size: 18px;

  outline: none;

  background: white;
}

.category-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(320px, 1fr));

  gap: 25px;
}

.category-card {

  background: white;

  border-radius: 25px;

  padding: 30px;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.05);

  transition: 0.3s;
}

.category-card:hover {

  transform: translateY(-5px);
}

.icon {

  width: 70px;
  height: 70px;

  border-radius: 20px;

  background: #eef4ff;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 35px;

  margin-bottom: 25px;
}

.category-card h2 {

  font-size: 34px;

  margin-bottom: 15px;

  color: #111827;
}

.category-card p {

  color: #6b7280;

  font-size: 18px;

  line-height: 1.6;

  margin-bottom: 25px;
}

.card-footer {

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.card-footer span {

  color: #6b7280;

  font-size: 17px;
}

.card-footer button {

  background: #2563eb;

  color: white;

  border: none;

  padding: 12px 22px;

  border-radius: 14px;

  cursor: pointer;

  font-size: 16px;
}

.quiz-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 25px;
}

.quiz-header button {

  background: #2563eb;

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 12px;

  cursor: pointer;
}

.quiz-card {

  background: white;

  padding: 30px;

  border-radius: 25px;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.05);
}

.question {

  font-size: 28px;

  line-height: 1.6;

  margin-bottom: 30px;
}

.options {

  display: flex;

  flex-direction: column;

  gap: 18px;
}

.option {

  background: #eef2ff;

  padding: 18px;

  border-radius: 16px;

  cursor: pointer;

  font-size: 18px;

  transition: 0.3s;
}

.option:hover {

  background: #dbeafe;
}

.correct {

  background: #22c55e !important;

  color: white;
}

.wrong {

  background: #ef4444 !important;

  color: white;
}

.next-btn {

  width: 100%;

  margin-top: 30px;

  background: #111827;

  color: white;

  border: none;

  padding: 18px;

  border-radius: 16px;

  font-size: 18px;

  cursor: pointer;
}

.loading,
.error {

  text-align: center;

  padding: 80px;

  font-size: 24px;
}

@media(max-width: 768px) {

  .category-card h2 {
    font-size: 28px;
  }

  .question {
    font-size: 22px;
  }
}
